<h1>Welcome</h1>
<div id="btn-bloc">
	<a class="waves-effect waves-light btn" id="btn-fight">
		<i class="material-icons left">trending_flat</i>Participer
	</a> 
	<a class="waves-effect waves-light btn" id="btn-see">
		<i class="material-icons left">visibility</i>Regarder
	</a>
</div>
{% block javascripts %}
<script type="text/javascript">
	Index.EventAjaxGameMenu();
</script>
{% endblock %}