{% extends "::base.html.twig" %}

{% block title %}
Battle Royale
{% endblock %}

{% block body %}


<div id="index-bloc">
	<h1> Welcome</h1>
	<div class="center-align">
		<a class="waves-effect waves-light btn-large z-depth-2" href="{{ path('battle') }}">Jouer</a>
	</div>
</div>
{% endblock %}
